@media (max-width: 768px) {
    .row img {
      height: auto;
      max-width: 100%;
    }
  
    .row {
      padding: 10px;
    }
  
    .social-logos {
      margin-right: 10px;
    }
  
    .map {
      width: 100%;
    }
  }